<header id="brand" alias="github2017" brand="github2017_2018-01-26T09:08:16Z" class="v2017  lang-ca">
    <div class="bcnbrand-desktop">
        <div class="bcnbrand-navs-container">
            <nav class="bcnbrand-shortcuts" id="bcnbrand-shortcuts-nav" aria-hidden="true">
                <ul class="bcnbrand-list">
                    <li>
                        <a target="_blank" href="http://ajuntament.barcelona.cat" tabindex="3" title="ajuntament.barcelona.cat" data-ga="Ajuntament">
                            <span class="bcnbrand-icon bcn-icon-ajuntament bcnbrand-circle bcnbrand-bg-purple"></span>
                  <span class="bcnbrand-link">
                    ajuntament.barcelona.cat
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://meet.barcelona.cat/ca" tabindex="3" title="meet.barcelona.cat" data-ga="Meet">
                            <span class="bcnbrand-icon bcn-icon-meet bcnbrand-circle bcnbrand-bg-yellow"></span>
                  <span class="bcnbrand-link">
                    meet.barcelona.cat
                  </span>
                        </a>
                    </li>
                </ul>
                <ul class="bcnbrand-list">
                    <li>
                        <a target="_blank" href="http://eldigital.barcelona.cat/" tabindex="3" title="Notícies BCN" data-ga="Noticies">
                            <span class="bcnbrand-icon bcn-icon-noticies"></span>
                  <span class="bcnbrand-link">
                    Notícies BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://guia.barcelona.cat/ca" tabindex="3" title="Guia BCN" data-ga="Guia">
                            <span class="bcnbrand-icon bcn-icon-guia"></span>
                  <span class="bcnbrand-link">
                    Guia BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://w30.bcn.cat/APPS/portaltramits/portal/index/default.html?language=ca" tabindex="3" title="Tràmits" data-ga="Tramits">
                            <span class="bcnbrand-icon bcn-icon-tramits-o"></span>
                  <span class="bcnbrand-link">
                    Tràmits
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://barcelona.cat/planol/" tabindex="3" title="Plànol BCN" data-ga="Planol">
                            <span class="bcnbrand-icon bcn-icon-planol"></span>
                  <span class="bcnbrand-link">
                    Plànol BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://ajuntament.barcelona.cat/canals-comunicacio-ciutadana/" tabindex="3" title="Canals de comunicació" data-ga="Canals">
                            <span class="bcnbrand-icon bcn-icon-relacio-ciutada"></span>
                  <span class="bcnbrand-link">
                    Canals de comunicació
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://com-shi-va.lameva.barcelona.cat/ca/" tabindex="3" title="Com s'hi va" data-ga="Com shi va">
                            <span class="bcnbrand-icon bcn-icon-comshiva"></span>
                  <span class="bcnbrand-link">
                    Com s'hi va
                  </span>
                        </a>
                    </li>
                </ul>
                <a href="javascript:;" class="bcnbrand-close" tabindex="4" title="Tanca" aria-label="Tanca" aria-expanded="false" aria-controls="bcnbrand-shortcuts-nav" data-ga="Tanca-Drecera">
                    <span class="bcnbrand-icon bcn-icon-tancar-light"></span>
                </a>
            </nav>
            <nav class="bcnbrand-lang lang bcnbrand-lang-extended" id="bcnbrand-lang-nav" aria-hidden="true">
                <ul class="bcnbrand-list">
                     
                    <li><a href="https://ajuntamentdebarcelona.github.io/" tabindex="8" class="active" lang="ca" title="Català&nbsp;" data-ga="CA">Català&nbsp;</a></li> 
                    <li><a href="https://ajuntamentdebarcelona.github.io/en/index_en.html" tabindex="8" lang="en" title="English" data-ga="EN">English</a></li>
                </ul>
                <!--
                <ul class="bcnbrand-list">
                    <li>
                        <a href="#" tabindex="8" lang="it" title="it">it</a>
                    </li>
                    <li>
                        <a href="#" tabindex="8" lang="de" title="de">de</a>
                    </li>
                    <li>
                        <a href="#" tabindex="8" lang="pt" title="pt">pt</a>
                    </li>
                </ul>
                <ul class="bcnbrand-list">
                    <li>
                        <a href="#" tabindex="8" lang="ru" title="ru">ru</a>
                    </li>
                    <li>
                        <a href="#" tabindex="8" lang="jp" title="jp">jp</a>
                    </li>
                    <li>
                        <a href="#" tabindex="8" lang="zh" title="zh">zh</a>
                    </li>
                </ul>
                -->
                <a href="javascript:;" class="bcnbrand-close" tabindex="9" title="Tanca" aria-label="Tanca" aria-expanded="false" aria-controls="bcnbrand-lang-nav" data-ga="Tanca-Idioma">
                    <span class="bcnbrand-icon bcn-icon-tancar-light"></span>
                </a>
            </nav>
        </div>
        <div class="bcnbrand-main-container">
            <div class="bcnbrand-main">
                <ul class="bcnbrand-list">
                    <li>
                        <a href="http://www.barcelona.cat/ca/" class="bcnbrand-main-link" tabindex="1" title="Barcelona" data-ga="barcelona.cat">
                            www.barcelona.cat
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bcnbrand-nav-link bcnbrand-nav-link-squares" data-target="bcnbrand-shortcuts" tabindex="2" title="Dreceres de barcelona.cat" aria-label="Dreceres de barcelona.cat" aria-expanded="false" aria-controls="bcnbrand-shortcuts-nav" data-ga="Drecera">
                            <span class="bcnbrand-icon bcn-icon-menu-drecera"></span>
                        </a>
                    </li>
                    <li>
                        <form action="https://cercador.barcelona.cat/ca">
                            <div class="bcnbrand-input">
                                <input type="text" name="query" placeholder="Cerca a barcelona.cat..." tabindex="5" title="Cerca a barcelona.cat" data-ga="Cerca">
                                <button type="submit" tabindex="6" title="Cerca a barcelona.cat" data-ga="Cerca">
                                    <span class="bcnbrand-icon bcn-icon-cerca"></span>
                                </button>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a href="javascript:;" class="bcnbrand-nav-link bcnbrand-nav-link-lang-selector" data-target="bcnbrand-lang" tabindex="7" title="Canviar idioma" aria-label="Canviar idioma" aria-expanded="false" aria-controls="bcnbrand-lang-nav" data-ga="Idioma">
                            <span class="bcnbrand-icon bcn-icon-idioma"></span>
                  <span class="bcnbrand-select-lang">
                    <span class="bcnbrand-lang-text">Català&nbsp;</span>
                    <span class="bcnbrand-icon bcn-icon-baix-bold"></span>
                    <span class="bcnbrand-icon bcn-icon-dalt-bold"></span>
                  </span>
                        </a>
                    </li>
                    <li>
                      <a target="_blank" class="bcnbrand-logo-main" href="http://ajuntament.barcelona.cat/ca/" tabindex="10" data-ga="Llima">
                        <img src="https://w9.barcelona.cat/assets/images/brand/banner/2017/logo.png" alt="Logo Ajuntament de Barcelona">
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- MOBILE BRAND -->
    <div class="bcnbrand-mobile">
        <div class="bcnbrand-main-container">

            <div class="bcnbrand-main">
                <ul class="bcnbrand-list">
                    <li>
                        <a href="http://www.barcelona.cat/ca/" class="bcnbrand-main-link" title="Barcelona" data-ga="barcelona.cat">
                            www.barcelona.cat
                        </a>
                    </li>
                </ul>
                <ul class="bcnbrand-list">
                    <li>
                        <a href="javascript:;" class="bcnbrand-nav-link bcnbrand-nav-link-squares" data-target="bcnbrand-shortcuts" title="Dreceres de barcelona.cat" aria-label="Dreceres de barcelona.cat" aria-expanded="false" aria-controls="bcnbrand-shortcuts-mobile-nav" data-ga="Drecera">
                            <span class="bcnbrand-icon bcn-icon-menu-drecera"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bcnbrand-nav-link bcnbrand-nav-link-lang-selector" data-target="bcnbrand-lang" title="Canviar idioma" aria-label="Canviar idioma" aria-expanded="false" aria-controls="bcnbrand-lang-mobile-nav" data-ga="Idioma">
                            <span class="bcnbrand-icon bcn-icon-idioma"></span>
                  <span class="bcnbrand-select-lang">
                    <span class="bcnbrand-icon bcn-icon-baix-bold"></span>
                    <span class="bcnbrand-icon bcn-icon-dalt-bold"></span>
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://ajuntament.barcelona.cat/" data-ga="Llima">
                            <img src="https://w9.barcelona.cat/assets/images/brand/banner/2017/llima-vermella.svg" alt="Ajuntament de Barcelona">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MAIN BRAND -->
        </div>
        <div class="bcnbrand-navs-container">
            <nav class="bcnbrand-shortcuts" id="bcnbrand-shortcuts-mobile-nav" aria-hidden="true">
                <form action="https://cercador.barcelona.cat/ca">
                    <div class="bcnbrand-input">
                        <input type="text" name="query" placeholder="Cerca a barcelona.cat..." data-ga="Cerca">
                        <button type="submit" title="Cerca a barcelona.cat" data-ga="Cerca">
                            <span class="bcnbrand-icon bcn-icon-cerca"></span>
                         </button>
                    </div>
                </form>
                <ul class="bcnbrand-list">
                    <li>
                        <a target="_blank" href="http://ajuntament.barcelona.cat" title="ajuntament.barcelona.cat" data-ga="Ajuntament">
                            <span class="bcnbrand-icon bcn-icon-ajuntament bcnbrand-circle bcnbrand-bg-purple"></span>
                  <span class="bcnbrand-link">
                    ajuntament.barcelona.cat
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://meet.barcelona.cat/ca" title="meet.barcelona.cat" data-ga="Meet">
                            <span class="bcnbrand-icon bcn-icon-meet bcnbrand-circle bcnbrand-bg-yellow"></span>
                  <span class="bcnbrand-link">
                    meet.barcelona.cat
                  </span>
                        </a>
                    </li>
                </ul>
                <ul class="bcnbrand-list">
                    <li>
                        <a target="_blank" href="http://eldigital.barcelona.cat/" title="Notícies BCN" data-ga="Noticies">
                            <span class="bcnbrand-icon bcn-icon-noticies"></span>
                  <span class="bcnbrand-link">
                    Notícies BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://guia.barcelona.cat/ca" title="Guia BCN" data-ga="Guia">
                            <span class="bcnbrand-icon bcn-icon-guia"></span>
                  <span class="bcnbrand-link">
                    Guia BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://w30.bcn.cat/APPS/portaltramits/portal/index/default.html?language=ca" title="Tràmits" data-ga="Tramits">
                            <span class="bcnbrand-icon bcn-icon-tramits-o"></span>
                  <span class="bcnbrand-link">
                    Tràmits
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://barcelona.cat/planol/" title="Plànol BCN" data-ga="Planol">
                            <span class="bcnbrand-icon bcn-icon-planol"></span>
                  <span class="bcnbrand-link">
                    Plànol BCN
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://ajuntament.barcelona.cat/canals-comunicacio-ciutadana/" title="Canals de comunicació" data-ga="Canals">
                            <span class="bcnbrand-icon bcn-icon-relacio-ciutada"></span>
                  <span class="bcnbrand-link">
                    Canals de comunicació
                  </span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://com-shi-va.lameva.barcelona.cat/ca/" title="Com s'hi va" data-ga="Com shi va">
                            <span class="bcnbrand-icon bcn-icon-comshiva"></span>
                  <span class="bcnbrand-link">
                    Com s'hi va
                  </span>
                        </a>
                    </li>
                </ul>
                <a href="javascript:;" class="bcnbrand-close" title="Tanca" aria-label="Tanca" aria-expanded="false" aria-controls="bcnbrand-shortcuts-mobile-nav" data-ga="Tanca-Drecera">
                    <span class="bcnbrand-icon bcn-icon-tancar-light"></span>
                </a>
            </nav>
            <nav class="bcnbrand-lang lang" id="bcnbrand-lang-mobile-nav" aria-hidden="true">
                <ul class="bcnbrand-list">
                     
                    <li><a href="https://ajuntamentdebarcelona.github.io/" tabindex="8" class="active" lang="ca" title="Català&nbsp;" data-ga="CA">Català&nbsp;</a></li> 
                    <li><a href="https://ajuntamentdebarcelona.github.io/en/index_en.html" tabindex="8" lang="en" title="English" data-ga="EN">English</a></li>
                </ul>
                <!--
                <ul class="bcnbrand-list  bcnbrand-extended">
                    <li>
                        <a href="#" lang="it" title="it">it</a>
                    </li>
                    <li>
                        <a href="#" lang="de" title="de">de</a>
                    </li>
                    <li>
                        <a href="#" lang="pt" title="pt">pt</a>
                    </li>
                    <li>
                        <a href="#" lang="ru" title="ru">ru</a>
                    </li>
                    <li>
                        <a href="#" lang="jp" title="jp">jp</a>
                    </li>
                    <li>
                        <a href="#" lang="zh" title="zh">zh</a>
                    </li>
                </ul>
                -->
                <a href="javascript:;" class="bcnbrand-close" title="Tanca" aria-label="Tanca" aria-expanded="false" aria-controls="bcnbrand-lang-mobile-nav" data-ga="Tanca-Idioma">
                    <span class="bcnbrand-icon bcn-icon-tancar-light"></span>
                </a>
            </nav>
        </div>
    </div>
</header>

<header class="site-header">
    <div class="org-group">
        <div class="org-group-list">
            <img alt="@AjuntamentdeBarcelona" class="avatar" height="100" itemprop="image" src="https://avatars3.githubusercontent.com/u/16301934?v=4&amp;s=200" width="100">
            <div class="org-item">
                <h1 class="org-name">Ajuntament de Barcelona</h1>
                <p class="title-repo">Projectes de codi obert de l'Ajuntament de Barcelona</p>
            </div>
        </div>
    </div>
</header>
