<header class="site-header">
    <div class="org-group">
        <div class="org-group-list">
            <img alt="@AjuntamentdeBarcelona" class="avatar" height="100" itemprop="image" src="https://avatars3.githubusercontent.com/u/16301934?v=4&amp;s=200" width="100">
            <div class="org-item">
                <h1 class="org-name">Ajuntament de Barcelona</h1>
                <p class="title-repo">Proyectos de código abierto del Ayuntamiento de Barcelona</p>
                <span title="Spanish" style="
    padding-left: 740px;
"><a lang="ca" href="https://ajuntamentdebarcelona.github.io">Català</a>
                <a lang="en" href="https://ajuntamentdebarcelona.github.io/en/index_en.html">English</a>
                </span>
            </div>
        </div>
    </div>
</header>
